---
layout: layout
title: Members
membersf2011:
- Habin
- Lenka
- Cathy
- rbq
- Isedua
- Anjali
- Gabby
- Yuta
- Diego
- Elaine
- Gaby WM
- Alina
- Ryan
- Irene
- Jocelyn
- Julie
- Jacinth 
- Flora
- Anna
- Jake
- Daniel
- Max
- Chris
- Ruth
- Sabrina
- Yihe
- Dan
- James
- Nabiha


membersf2003:
- Seniors
- Sun Cho 
- Yoon Choo 
- Everitt Clark 
- John Jameson 
- Wonha Iris Kim 
- Alan Oquendo 
- Francis Pickering 
- Brian Skerratt 
- Ben Wukasch
- Juniors
- Rick Apple 
- Randy Buzzell 
- Rachel Tsiao-Hui Cheng 
- Bryan Chu 
- Erin Kappeler 
- Jinha Kim 
- Feng-Yen Li 
- Kristina Maletz 
- Dave Matthews 
- Candace Mootoo 
- Casey Passmore 
- Rosa Poetes 
- Alina Rekhtman 
- Julia Saltz 
- Anderson Shum


memberss2002:
- Seniors
- Linda Alila 
- Natalie Deffenbaugh 
- Stephany Duda 
- Mariko de Freytas 
- Sophia Hollander 
- Chris Karr 
- Jennifer Maloney 
- Steve Nuñez 
- Dan Wachtell
- Juniors
- Laura Bohn 
- Roger Cheng 
- Abby Corson-Rikert 
- Kira Dominguez 
- Ben Gemmill 
- Peggy Hsu 
- Jessica Illascewicz 
- Rachel Linton 
- Corinne Nathan 
- Jia Wern Ong 
- Matt Ong 
- Josiah Pearsall 
- Justin Spencer 
- Ameera Thomas 
- Matt Wagers

membersf2000:
- Jennifer Adler '01
- Linda Alila '02
- Eleanor Aversa '01
- Ira Bochkis '01
- Peter Boger '01
- Chiu Ki Chan '01
- Natalie Deffenbaugh '02
- Stephany Duda '02
- Oren Firestein '01
- Kyle Hambright '01
- Sophia Hollander '02
- Daniel Kahane '01
- Joel Lara '02
- Jennifer Maloney '02
- Duncan McNiff '01
- Macauley Peterson '01
- Susie Weller '02
- Darice Wong '01

memberss2000:
- Jennifer Adler '01
- Eleanor Aversa '01
- Ira Bochkis '01
- Laura Certain '00
- Melissa Chan '00
- Chiu Ki Chan '01
- Jene Chai '00
- Oren Firestein '01
- Tiffany Fung '00
- Benjamin Goldstein '00
- Nate Heavers '00
- Katie Jamieson '00
- Debby Lee '00
- Diane Lin '00
- Tanya Luthi '00
- Colin McCreight '00
- Peter Mei '00
- Macauley Peterson '01
- Samir Rostum '00
- Bob Schell '01
- Kristen Wall '00
- Darice Wong '01
- Maia Wright '00
- Hao Wu '00
- Kenneth Wu '00

membersf1999:
- Jennifer Adler '01
- Eleanor Aversa '01
- Ira Bochkis '01
- Laura Certain '00
- Melissa Chan '00
- Chiu Ki Chan '01
- Oren Firestein '01
- Tiffany Fung '00
- Benjamin Goldstein '00
- Nate Heavers '00
- Katie Jamieson '00
- Jon Kent-Uritam '00
- Debby Lee '00
- Diane Lin '00
- Tanya Luthi '00
- Colin McCreight '00
- Peter Mei '00
- Macauley Peterson '01
- Samir Rostum '00
- Bob Schell '01
- Kristen Wall '00
- Darice Wong '01
- Maia Wright '00
- Hao Wu '00
- Kenneth Wu '00

---

Fall 2011
<ul>
{% for name in page.membersf2011 %}
<li> {{ name }} </li>
{% endfor %}
</ul>

<br>
(the dark ages)
<br>


Fall 2003
<ul>
{% for name in page.membersf2003 %}
<li> {{ name }} </li>
{% endfor %}
</ul>

Spring 2002
<ul>
{% for name in page.memberss2002 %}
<li> {{ name }} </li>
{% endfor %}
</ul>

Fall 2000
<ul>
{% for name in page.membersf2000 %}
<li> {{ name }} </li>
{% endfor %}
</ul>


Spring 2000
<ul>
{% for name in page.memberss2000 %}
<li> {{ name }} </li>
{% endfor %}
</ul>


Fall 1999
<ul>
{% for name in page.membersf1999 %}
<li> {{ name }} </li>
{% endfor %}
</ul>




{% comment %}

Fall 2011

- Habin
- Lenka
- Cathy
- rbq
- Isedua
- Anjali
- Gabby
- Yuta
- Diego
- Elaine
- Gaby WM
- Alina
- Ryan
- Irene
- Jocelyn
- Julie
- Jacinth 
- Flora
- Anna
- Jake
- Daniel
- Max
- Chris
- Ruth
- Sabrina
- Yihe
- Dan
- James
- Nabiha





Spring2000:
Jennifer Adler '01
Eleanor Aversa '01
Ira Bochkis '01
Laura Certain '00
Melissa Chan '00
Chiu Ki Chan '01
Jene Chai '00
Oren Firestein '01
Tiffany Fung '00
Benjamin Goldstein '00
Nate Heavers '00
Katie Jamieson '00
Debby Lee '00
Diane Lin '00
Tanya Luthi '00
Colin McCreight '00
Peter Mei '00
Macauley Peterson '01
Samir Rostum '00
Bob Schell '01
Kristen Wall '00
Darice Wong '01
Maia Wright '00
Hao Wu '00
Kenneth Wu '00


Fall 1999
name and class
Jennifer Adler '01
Eleanor Aversa '01
Ira Bochkis '01
Laura Certain '00
Melissa Chan '00
Chiu Ki Chan '01
Oren Firestein '01
Tiffany Fung '00
Benjamin Goldstein '00
Nate Heavers '00
Katie Jamieson '00
Jon Kent-Uritam '00
Debby Lee '00
Diane Lin '00
Tanya Luthi '00
Colin McCreight '00
Peter Mei '00
Macauley Peterson '01
Samir Rostum '00
Bob Schell '01
Kristen Wall '00
Darice Wong '01
Maia Wright '00
Hao Wu '00
Kenneth Wu '00



{% endcomment %}
